<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" href="{{ path("homepage") }}">Book List</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ path("create_book_entry") }}">Add Book</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Delete Book</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="#">Edit Book</a>
	  </li>
</ul>